@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --clr-primary-400: hsl(35, 77%, 62%);
  --clr-primary-600: hsl(5, 85%, 63%);

  --clr-neutral-100: hsl(36, 100%, 99%);
  --clr-neutral-300: hsl(233, 8%, 79%);
  --clr-neutral-500: hsl(236, 13%, 42%);
  --clr-neutral-1000: hsl(240, 100%, 5%);

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --nav-block: 1.8rem;
  --nums-of-columns: 4;
}

@media screen and (min-width: 768px) {
  :root {
    --nums-of-columns: 8;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --nums-of-columns: 11;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  color: var(--clr-neutral-300);
  font-weight: var(--fw-regular);
}

/* js : prevent Scroll */
body.scroll-prevent {
  overflow-y: hidden;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Reusable */

.container {
  max-width: 70rem;
  margin-inline: auto;
}

@media screen and (min-width: 1100px) {
  .container {
    max-width: 90rem;
    margin-inline: auto;
  }
}

/* header : navigation */

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--nav-block);
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 3rem 0;
  }
}
@media screen and (min-width: 1200px) {
}

/* nav overlay */
.nav__overlay {
  position: fixed;
  inset: 0;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.25s;
}
.nav__overlay.active {
  visibility: visible;
  opacity: 1;
}

/* nav Menu */
.nav__menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 27rem;
  padding: 10rem 3rem;
  background-color: var(--clr-neutral-100);
  transform: translateX(27rem);
  transition: transform 0.25s;
}
.nav__menu.active {
  transform: translateX(0);
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav__list-link {
  color: var(--clr-neutral-1000);
  transition: color 0.25s;
}
.nav__list-link:hover {
  color: var(--clr-primary-400);
}

.nav__close {
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.icon {
  width: 3rem;
  height: 3rem;
}

@media screen and (min-width: 1100px) {
  .nav__menu {
    position: initial;
    width: initial;
    background-color: transparent;
    padding: 0;
    transform: none;
    transition: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .nav__open,
  .nav__close {
    display: none;
  }
}

/* main */

.main {
  padding-top: calc(var(--nav-block) * 2 + 3.4rem);
  max-width: 100%;
}

.hero {
  padding: var(--nav-block);
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 3.5rem 0;
  }
}

.hero__title {
  font-size: 4.8rem;
  line-height: 1;
  margin-block: 2rem;
  color: var(--clr-neutral-1000);
}

.body__paragraph {
  color: var(--clr-neutral-500);
  line-height: 1.8;
  margin-bottom: 2rem;
}

.body__btn {
  display: inline-block;
  background-color: var(--clr-primary-600);
  color: #fff;
  padding: 1.2rem 3.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: background-color 0.25s;
  cursor: pointer;
}
.body__btn:hover {
  background: #000;
}

@media screen and (min-width: 1100px) {
  .flex {
    display: flex;
    column-gap: 2rem;
    padding: 4rem 0 1rem;
  }
  .hero {
    width: 70%;
    padding: 0;
  }
  .hero__body {
    padding-top: 2rem;
    width: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .hero__title {
    text-align: start;
    font-size: 4.4rem;
    line-height: 1.2;
    margin-block: 0;
  }
  .body__description {
    width: 100%;
  }
  .body__paragraph {
    font-size: 1.3rem;
    line-height: 1.4;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

/* new section */

.new {
  max-width: 100%;
  padding: var(--nav-block);
}

.new__body {
  padding-inline: 2.5rem;
  background-color: var(--clr-neutral-1000);
}

.new__category {
  font-size: 3.2rem;
  color: var(--clr-primary-400);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.new__description {
  padding-block: 1.5rem;
}
.new__description:last-child {
  padding-bottom: 2rem;
}

.new__title {
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.new__paragraph {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  line-height: 2.6rem;
}

.separation-line {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .new {
    max-width: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 1100px) {
  .new {
    width: 30%;
    padding: 0;
  }
  .new__body {
    padding-inline: 1rem 1.6rem;
  }
  .new__category {
    font-size: 3rem;
    padding-bottom: 0;
  }
  .new__description {
    padding-block: 1rem;
  }
  .new__title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    letter-spacing: initial;
  }
  .new__paragraph {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    line-height: 2 rem;
  }
}

/* card section */

.card {
  max-width: 100%;
  padding: var(--nav-block);
}

.card__item {
  width: 100%;
  display: flex;
  gap: 2.5rem;
  margin-block: 3rem;
}

.card__img {
  max-width: 10rem;
  max-height: 12rem;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__body > span {
  font-size: 3rem;
  font-weight: var(--fw-bold);
}

.card__title {
  color: var(--clr-neutral-1000);
}

.card__paragraph {
  color: var(--clr-neutral-500);
  font-size: 1.4rem;
  line-height: 1.6;
}

@media screen and (min-width: 1100px) {
  .card {
    padding: 0;
  }
  .card__container {
    display: flex;
    align-items: center;
    column-gap: 5rem;
  }
  .card__item {
    width: 100%;
    display: flex;
    margin-block: 3rem;
  }
  .card__img {
    max-width: 8rem;
    max-height: 10rem;
  }
  .card__body > span {
    font-size: 2.4rem;
  }
  .card__title {
    font-size: 1.4rem;
  }
  .card__paragraph {
    font-size: 1.2rem;
    line-height: 1.4;
  }
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
